<div id="app">
	<ul>
		<li v-for="stuff in stuffs" v-text="stuff"></li>
	</ul>
</div>
<!-- <script src="https://unpkg.com/vue@2.3.4/dist/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/packs/main.js"></script> -->